<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="bg-img">
            <img src="https://img.freepik.com/free-vector/white-abstract-background-3d-paper-style_23-2148402758.jpg">
        </div>
        <div class="intro">
            <h1> HELLO, I'M ABIOLLAGH JAMES </h1>
            <p>
                A Backend focused Developer building the Backend of Websites
                and Web Applications that leads to the success of the overall
                product.
            </p>
            <a href="/#projects"> <button> PROJECTS </button> </a>
        </div>
        <%- include("./about.ejs")%>
        <%- include("./projects.ejs")%>
        <%- include("./contact.ejs")%>
        <%- include("./partials/footer.ejs")%>
        <script src="./scripts.js"></script>
    </body>
</html>